@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,100,600);
body {
  background: url(../images/login.jpg) no-repeat center fixed;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.reg-box {
  background: url(../images/box1.png);
  min-height: 400px;
  width: 350px;
  margin: 0px auto;
  margin-top: 200px;
  box-shadow: 0px 0px 5px #aeaeae;
}
.reg-box a {
  padding-left: 5px;
  text-decoration: none;
  color: #6c6e6e !important;
}
.reg-box .fa-crosshairs {
  color: #0ba09b;
}
.reg-box h1 {
  color: #2e393b;
  font-size: 25px;
  padding-top: 10px;
  font-family: 'Raleway', Helvetica, Arial;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}
.reg-box hr {
  border-width: 1px;
  border-color: #2e393b;
  opacity: 0.1;
}
.reg-box h5 {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 600;
  color: #0ba09b;
  font-size: 13px;
}
.reg-box h5 strong {
  color: #dd636d;
}
.reg-box .reg-submit-box {
  margin-top: 20px;
}
.reg-box .reg-submit-box .input-group-addon {
  background: #2e393b;
  border: 0px;
  color: #b4b4b4;
  border-radius: 0px;
  opacity: 0.8;
}
.reg-box .reg-submit-box input {
  background: #b4b4b4;
  border-radius: 0px;
  border: none;
  color: #2e393b !important;
}
.reg-box .reg-submit-box .form-control:-moz-placeholder {
  color: #2e393b;
}
.reg-box .reg-submit-box .form-control::-moz-placeholder {
  color: #2e393b;
}
.reg-box .reg-submit-box .form-control:-ms-input-placeholder {
  color: #2e393b;
}
.reg-box .reg-submit-box .form-control::-webkit-input-placeholder {
  color: #2e393b;
}
.reg-box .reg-submit-box .form-control:focus {
  box-shadow: none;
}
.reg-box .reg-submit-box .btn {
  background: #0ba09b;
  color: #FFFFFF;
  border-radius: 0px;
  font-family: 'Raleway';
  font-weight: 600;
}
.reg-box .reg-submit-box h6 {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 13px;
}
.reg-box .reg-submit-box h6 a {
  color: #2e393b;
}
.reg-box .reg-submit-box h6 a:hover {
  color: #2f4051;
  text-decoration: underline;
}
@media screen and (max-width: 400px) {
  .reg-box {
    width: 260px;
  }
}
